[2020-10-19 01:10] hey-ruomei commented on #242
Thanks!!!

[2020-10-19 02:25] WormGirl commented on #366
I am because of the chinese wall, I use facebook login api，the js lib can not be access. when i remove the lib  it works fine.

[2020-10-20 07:28] lzh15378738622 commented on #196
maybe my project run build it's suceess, but whatever the config routes is, the build result has only one dir in dist !

[2020-10-20 07:30] lzh15378738622 commented on #196
![Uploading image.png…]()

[2020-10-20 07:30] lzh15378738622 commented on #196
![image](https://user-images.githubusercontent.com/15136690/96554481-2d341500-12e9-11eb-89d2-0bdf1d22f960.png)

[2020-10-28 13:59] vitorhugosg opened #412 "How to render dynamic routes?"
Hello, how are you?

I have a marketplace project, I would like to know if I can render the dynamic routes of the products, would anyone know if I can do this?

Thanks in advance.

- [ ]

[2020-11-06 10:09] valentinoli commented on #412
Yes, you can. But you need to know the routes in advance since the `routes` options only accepts an Array. It really depends on where you store the route information. Are the product ids stored in a database? How do you fetch them?

[2020-11-06 10:31] valentinoli commented on #399
Not sure you can process the plugins for each `lang` in parallel. Perhaps with some modifications you could achieve it with something like [parallel-webpack](https://github.com/trivago/parallel-webpack). I haven't used it myself so I don't know really...

But if you want higher concurrency for each plugin, you can adjust the `maxConcurrentRoutes` option (if you have it set to anything else than th

[2020-11-06 10:40] valentinoli commented on #399
According to [webpack docs](https://webpack.js.org/guides/build-performance/#bootstrap) each additional plugin has a bootup time, thus you should minimize the number of plugins to optimize build time.
Question is, can you use a single plugin instead of one for each `lang`? It probably depends on your app's architecture, so I can't say. You could for example detect in the Vue component itself which

[2020-11-06 10:55] valentinoli commented on #375
Regardless of the frontend framework, you need to explicitly provide the routes in the plugin configuration. If you have dynamic routes, you could fetch the routes from your API before providing them to the config. In webpack you can return the config as a [promise](https://webpack.js.org/configuration/configuration-types/#exporting-a-promise). If you are using Vue, the `configureWebpack` option d

[2020-11-06 11:14] valentinoli commented on #374
Could you run the two configs separately in sequence? For instance, with NPM
[code]
?

[2020-11-07 05:37] websharik commented on #399
I cant use `lang` as param of the route becouse `lang` is part of state [Vuex](https://vuex.vuejs.org). [Vuex state](https://vuex.vuejs.org#what-is-a-state-management-pattern) is single the source of truth that drives my app. `lang`s setter is inject. Single prerender-spa-plugin suport only one inject for all routes. Dynamic inject per route may be best possibility, but not supported.

Now [parall

[2020-11-07 09:50] valentinoli commented on #399
Have you considered adding the lang as a query parameter, `lang=<lang>`? Then you can fetch the lang data from your store based on the query param.

[2020-11-07 12:10] valentinoli commented on #399
[code]

[2020-11-10 17:11] Arman-Front opened #413 "prerender breaks html"
HTML breaks when rendering the main route
Example rendered page below

`............
<script type="text/javascript" src="/app.c0da7175.js"></script>
 </body></html>c0da7175.js"></script>
 </body></html>
`

[2020-11-11 11:35] Arman-Front commented on #364
I have a same problem. Did you find a solution?

[2020-11-18 09:52] lizhengnacl commented on #344
If you set the `publicPath` (generally, it's a cdn resource address), should confirm that when prerender process happen, the prerenderer can access the assets by the `publicPath`.

So, one way to solve this problem is:
- run build
- upload to cdn (publicPath)
- run build again

Seems a little gross, but simple enough, and works for me.

[2020-11-26 18:13] CharlesKumar commented on #323
The problem might have occured from my local machine. It seems my local machine has infected and all (most of the) js files in my machine had vbdropper.

[2020-11-26 18:13] #323 closed

[2020-12-01 07:50] alexsonnay commented on #102
Awesome. It's the only solution available on the internet for this issue ! Thanks @DamageESP

[2020-12-02 13:43] dunhuang commented on #215
The plugin provides the solution, [prerender-spa-cdn-plugin](https://github.com/dunhuang/prerender-spa-cdn-plugin/blob/master/README.md).
Example: [vue-cli3 with PUBLIC_PATH=//cdn.abcd.com](https://github.com/dunhuang/prerender-spa-cdn-plugin/tree/master/examples/vuecli3-cdn)

[code]

[2020-12-02 13:44] dunhuang commented on #114
The plugin provides the solution, [prerender-spa-cdn-plugin](https://github.com/dunhuang/prerender-spa-cdn-plugin/blob/master/README.md).
Example: [vue-cli3 with PUBLIC_PATH=//cdn.abcd.com](https://github.com/dunhuang/prerender-spa-cdn-plugin/tree/master/examples/vuecli3-cdn)

[code]

[2020-12-08 15:42] valentinoli commented on #399
Hey, @websharik
I'm curious to know if this was any helpful for your scenario :)

[2020-12-08 18:02] websharik commented on #399
Hey, @valentinoli
Not try that yet, but think its will working. Thanks for help :)

[2020-12-08 18:02] #399 closed

[2020-12-08 18:55] valentinoli commented on #399
Great, hope it works
you're welcome :)

[2020-12-09 06:57] lduoduo opened #414 "[prerender-spa-plugin] Unable to prerender all routes! when upgrade webpack to v5+"
ERROR in [prerender-spa-plugin] Unable to prerender all routes!
this happened in webpack5, but work well in webpack4

node env: v12.18.2

error messages comes out with deeply debug;
![image](https://user-images.githubusercontent.com/15910159/101595061-bd5f2280-3a2d-11eb-9be0-cb688b0f6cd7.png)

![image](https://user-images.githubusercontent.com/15910159/101595290-16c75180-3a2e-11eb-8c3b-fc24bb8b11e

[2020-12-09 07:18] taylorgoolsby commented on #295
@windkomo what other prerendering solution did you settle on which support CSS-in-JS?

[2020-12-09 16:16] windkomo commented on #295
@taylorgoolsby I migrated my entire app to Next.js 😓

[2020-12-11 10:34] zuobaiquan opened #419 "linux系统中.local-chromium 无法下载，设置淘宝镜像也是如此，怎么把 .local-chromium 里面的文件设置放在本地呢"
linux系统中.local-chromium 无法下载，设置淘宝镜像也是如此，怎么把 .local-chromium 里面的文件设置放在本地呢

[2020-12-11 10:40] fouronnes commented on #414
I can confirm this issue is correct, getting the same problem here. `compilerFS.mkdirp` is not a function in webpack 5.

[2020-12-14 14:56] manuelgeek commented on #200
@xaander1  thank's , that worked

[2020-12-16 01:49] LoveGT opened #421 "There is a problem with the css style display"
![image](https://user-images.githubusercontent.com/54029966/102294280-e9c1f400-3f83-11eb-973c-775f840080eb.png)

[2020-12-16 14:01] manuelgeek commented on #188
@JoshTheDerf  thanks, for me, i had to add `data-server-rendered="true"` in my
```<div id="app" data-server-rendered="true"></div>```
and
[code]
      option

[2020-12-21 10:06] cnvoa commented on #367
Hi, I have also encountered this problem. It seems that it is a matter of order of execution. Do you have a solution? My Vue cli version is 4.5.8

[2020-12-21 10:36] cnvoa commented on #344
You can add another line

[code]

[2020-12-21 12:38] arthabus commented on #367
@cnvoa I've ended up creating the Vue instance synchronously and then setting up the login state inside the App.vue. It fixed the problem.

[2020-12-22 01:24] cnvoa commented on #367
Hi，我还找到另外一个解决办法，它看起来也不错
[#344](https://github.com/chrisvfritz/prerender-spa-plugin/issues/344)

[2020-12-22 01:26] cnvoa commented on #367
Hi, I also found another solution, it also looks good。
[#344 ](url)

[2021-01-03 15:30] dimavolo commented on #394
I have this same problem with Vue and @zhouxianjun's approach hasn't solved it for me.

It appears that when `router-view` is present in app.vue, the page renders perfectly well at first, then a second later it re-renders, causing a flash.

A side-effect for Vuetify users is that Vuetify's breakpoints get calculated for the first time upon this re-render, causing large layout shifts if you have co

[2021-01-03 15:34] dimavolo commented on #193
I am having the same problem as well and none of the above worked for me.

[2021-01-08 15:10] hytStart opened #422 "why creat equal sign and quotation marks ?"
My template index.html
[code]
But
After run build, this happend
![image](https://user-images.githubusercontent.com/34086399/104030585-98b1c280-5206-11eb-914c-64a31fe15a05.png)
and
![image](https://user-images.githubusercontent.com/34086399/104030602-9fd8d080-5206-11eb-87d3-a748a18fc572.png)

[2021-01-11 02:29] #215 closed

[2021-01-11 02:30] #282 closed

[2021-01-15 12:18] hermanbanken opened #423 ""Navigation failed because browser has disconnected!" but Puppeteer is outdated (1.7.x instead of 2.0.0)"
When running this plugin I see the error

[code]

After inspecting the source I added an additional `console.error(err); process.exit(1);` right before
[code]

This shows me the error message is "Navigation failed because browser has disconnected!"
<details>
<summary>Full stacktrace

[code]

</summary>

[code]

</details>

Googling that I don't get much, except that people are using Puppeteer 2.0

[2021-01-15 12:20] hermanbanken commented on #358
Error is swallowed here:
https://github.com/chrisvfritz/prerender-spa-plugin/blob/0af6806d009fc2e47414c1b8c0600bf32800ab51/es6/index.js#L143-L149

I fixed that locally by logging the actual error & `process.exit(1)` (otherwise the terminal buffer is flushed and the error disappears).

[2021-01-17 03:20] claudionunezjr opened #424 "Running `webpack` with PrerenderSpaPlugin does not find or process the HTML or JS from output folder."
### Issue Description
I've been trying to get this plugin working for several days now, but to no avail. What I've noticed is that my compiled JS isn't getting processed, which also means the generated HTML isn't either.

I'm compiling TS to JS along with the following plugins:

[code]
If I set the Puppeteer Renderer option `renderAfterElementExists` instead of `renderAfterDocumentEvent`, I will g

[2021-01-19 17:48] asimkhan0 commented on #307
@Sergey-Ssn Could you please share the solution?

[2021-01-19 18:15] Sergey-Ssn commented on #307
I ordered a freelance job

[2021-01-24 13:25] dimar-hanung commented on #336
404 NotFound

[2021-01-25 09:37] bertms commented on #114
The pre-rendered page of this plugin has no HTML content

`plugins.push(new prerenderSpaCdnPlugin({
                staticDir: path.join(__dirname, outputFolder + '/' + engineId),
                routes: projectConfig.seoPages,
                rendererOptions: {
                    maxConcurrentRoutes: 10,
                    injectProperty: '__PRERENDER_INJECTED',
                    inject: {

[2021-02-01 02:59] Swings12138 opened #425 "How to use publicPath in vue.config.js"
in vue.config.js
If I  dont set publcPath，prerender is OK ，
but If I set the publicPath，when I build，fail!!!!

I google ，someone tell me ，the path is only one level

this is my vue.config.js，How to use publicPath in vue.config.js？

const PrerenderSpaPlugin = require("prerender-spa-plugin");
const Renderer = PrerenderSpaPlugin.PuppeteerRenderer;
const path = require("path");
const out = "demo";
//

[2021-02-05 09:47] hussein661 commented on #423
**[prerender-spa-plugin] : Unable to prerender all routes!**

I have only `1 route` and Ive set `maxConcurrentRoutes: 1` and the issue still not fixed since 2 days .
The error is not clear enough and i need to fix that !!

[2021-02-09 06:39] shijiezhou1 commented on #117
You are not rendering unknown router.

[2021-02-09 14:13] dreysolano commented on #414
Nice find all. One caveat is that the above will not work for nested routes such as `/pages/about-us` if the `/pages` dir does not already exist. The solution here is to pass `{recursive: true}` in the `opts` param. This solved the issue for me:

`compilerFS.mkdir(dir, {...opts, recursive: true}, (err, made) => err === null ? resolve(made) : reject(err))`

@chrisvfritz - any chance that this proje

[2021-02-09 17:26] Domingowen commented on #242
it is work for me

[2021-02-10 14:53] shijiezhou1 commented on #419
You would need to install that.

[code]

[2021-02-10 14:54] shijiezhou1 opened #426 "chrome-linux/chrome: error while loading shared libraries: libX11-xcb.so.1: cannot open shared object file: No such file or directory"
Does any one fix this problem?

I'm deploying my app tho the bitbucket pipelines and it seems not working at all.

[code]

[2021-02-13 07:04] MuYunyun commented on #414
@dreysolano hi, I meet the same problem, where does the code add?

[code]

[2021-02-13 13:51] wulisensen commented on #316
hello, i want to make a demo with multiple page vue-cli, can you show me how to resolve?

[2021-02-13 18:45] dreysolano commented on #414
For anyone interested, I forked the main project and created the following package which has the fix noted above for Webpack 5, along with up-to-date dependencies. Hopefully this can be PRed back into the main project repo if/when @chrisvfritz and team start supporting again.

https://www.npmjs.com/package/@dreysolano/prerender-spa-plugin

[2021-02-19 05:03] MuYunyun commented on #414
thanks. I use it.

[2021-02-19 05:04] MuYunyun commented on #414
thanks.

[2021-02-24 13:57] swarup-ranium opened #428 "Is this plugin compatible with NuxtJS or now ???"

[2021-03-03 09:37] Tofandel opened #429 "Integration with other webpack plugins"
It seems this plugin doesn't work well with other webpack plugins (I think because it fires after everything is compiled)

Mainly compression webpack plugin and PWA, it would be nice to be able to compress the output html files but it doesn't seem to work currently because of when the plugin fires (after everything is compiled, which kinda makes sense)

[2021-03-04 06:45] ykchan97 commented on #334
I got this problem too, so I did a workaround by prepending my domain at my image path, i.e.
Before: `<img src="/some/image.jpg" >`
After: `<img src="https://www.mysite.com/some/image.jpg" >`

To make it working in both development and production, I add my domain in the .env file and prepend it dynamically, i.e.
// .env
[code]
// my Vue component
[code]

[2021-03-04 06:46] yungkeatchan97 commented on #334
I got this problem too, so I did a workaround by prepending my domain at my image path, i.e.
Before: `<img src="/some/image.jpg" >`
After: `<img src="https://www.mysite.com/some/image.jpg" >`

To make it working in both development and production, I add my domain in the .env file and prepend it dynamically, i.e.
// .env
[code]
// my Vue component
[code]

[2021-03-04 06:51] yungkeatchan97 commented on #425
Have you try this ?
[code]

[2021-03-09 00:30] carljustineoyales commented on #362
tried
[code]
 still getting this error

[2021-03-09 00:37] carljustineoyales opened #432 "Unable to prerender all routes! 100 routes"
i have a vue project the gets blogpost from a headless cms. the problem there is over 100+ blogpost on that cms. prerendering it gave me this error
[code]

[code]

can anyone help me?  i tried changing the `maxConcurrentRoutes` and still gives me that error

[2021-03-09 15:40] tskimmett commented on #362
It is possible your routes are failing for legitimate reasons (timing out, for example). However, if you are trying to render "a lot" of routes, it is also possible you're running into the same issues we ran into, specifically memory consumption and "random" socket hangups. We actually forked this repo and it's core dependency, `prerenderer`. We can successfully prerender +1000 routes using these

[2021-03-10 15:51] carljustineoyales commented on #362
when i first prerender 100+ routes for my project it works fine it fails about 2-3 times but retrying solves the issue, but after a week, i came to fix some layout issues and prerender it again, it fail, I retried multiple times but all failed

[code]

[2021-03-15 16:44] bgrand-ch commented on #428
Nuxt.js provide built-in static site generation :

https://nuxtjs.org/docs/2.x/concepts/static-site-generation/

[2021-03-17 02:58] Haiwar commented on #193
me too...

[2021-03-17 03:02] Haiwar commented on #193
When I enter the page details, the homepage appears and flashes for a few milliseconds...

bug img：
![1](https://user-images.githubusercontent.com/35055270/111408396-37c7ce80-8710-11eb-9da7-1cf0cd36966d.gif)

[2021-03-17 03:03] Haiwar opened #433 "show white page"
When I enter the page details, the homepage appears and flashes for a few milliseconds...

bug img：
![1](https://user-images.githubusercontent.com/35055270/111408396-37c7ce80-8710-11eb-9da7-1cf0cd36966d.gif)

[2021-03-17 03:04] Haiwar commented on #433
@chrisvfritz

[2021-03-17 03:05] Haiwar commented on #433
vue-cil3

[code]

[2021-03-27 21:25] capelski commented on #414
Nice job 🚀  I've just installed it and it's working like a charm. Helpful to migrate from webpack 4 to webpack 5!

For anybody else getting here, notice that there are many other PrerenderSPAPlugin-forked packages on npm. I guess [prerender-spa-plugin-next](https://www.npmjs.com/package/prerender-spa-plugin-next) will be the one taking over this repository but, at least for me, I got errors while

[2021-03-29 03:13] SageSanyue commented on #282
```headless: true ```
It helps me!
Reference:
https://juejin.cn/post/6844904178326700045#comment
"在mac下设置了 headless: false 导致提示 Unable to prerender all routes! google 了一堆，告诉我说不能使用路由懒加载，其实造成这个报错的原因有很多，我是设置了headless: true 就好了 !"

[2021-03-29 03:14] SageSanyue commented on #312
```headless: true ```
It helps me!
Reference:
https://juejin.cn/post/6844904178326700045#comment
"在mac下设置了 headless: false 导致提示 Unable to prerender all routes! google 了一堆，告诉我说不能使用路由懒加载，其实造成这个报错的原因有很多，我是设置了headless: true 就好了 !"

[2021-03-29 03:16] SageSanyue commented on #242
```headless: true ```
It helps me!
Reference:
https://juejin.cn/post/6844904178326700045#comment
"在mac下设置了 headless: false 导致提示 Unable to prerender all routes! google 了一堆，告诉我说不能使用路由懒加载，其实造成这个报错的原因有很多，我是设置了headless: true 就好了 !"

[2021-03-30 10:38] SageSanyue commented on #222
Firstly I use "prerender-spa-plugin": "^3.4.0", to solve this issue（Unable to prerender all routes）, set 'headless' false or delete it.
[code]
 `npm run build` succeeds locally, but fails when deployed to the server.
It is most likely related to the puppeteer used in prerender-spa-plugin 3.x. （Reference: https://qiita.com/pokotyan/items/11806b8b77f4a3527951）
Because the configuration on the CI was

[2021-03-30 10:42] SageSanyue commented on #393
Firstly I use "prerender-spa-plugin": "^3.4.0", to solve this issue（Unable to prerender all routes）, set 'headless' true or delete it.
[code]
 `npm run build` succeeds locally, but fails when deployed to the server.
It is most likely related to the puppeteer used in prerender-spa-plugin 3.x. （Reference: https://qiita.com/pokotyan/items/11806b8b77f4a3527951）
Because the configuration on the CI was

[2021-03-30 10:44] SageSanyue commented on #300
Firstly I use "prerender-spa-plugin": "^3.4.0", to solve this issue（Unable to prerender all routes）, set 'headless' true or delete it.
[code]
 `npm run build` succeeds locally, but fails when deployed to the server.
It is most likely related to the puppeteer used in prerender-spa-plugin 3.x. （Reference: https://qiita.com/pokotyan/items/11806b8b77f4a3527951）
Because the configuration on the CI was

[2021-04-01 06:01] SangilYun commented on #426
I'm having exactly the same error. Do you have any update?

[2021-04-04 06:28] ericuldall commented on #432
Getting the same `[prerender-spa-plugin] Unable to prerender all routes!` Surely this "error" is some sort of cruel joke.

[2021-04-07 11:57] slayerbleast commented on #351
Same here, still no solution?

[2021-04-09 09:53] nkHub opened #437 "Unable to prerender all routes!"
es6/index.js in webpack5 compilerFS.mkdirp is undefined.

[2021-04-09 10:29] nkHub commented on #437
I install mkdirp package and change index.js the directory of es6 for replace the function mkdirp，after that it works.

[2021-04-13 09:38] evd1ser commented on #437
Same problem, could you please write more details about the solution?

[2021-04-13 13:29] luoshenxia commented on #269
you should move document.dispatchEvent(new Event('render-event')) to root. like this:

[2021-04-13 13:30] luoshenxia commented on #269
you should move document.dispatchEvent(new Event('render-event')) to root. like this:
let app = new Vue({
  el: '#app',
  router,
  render: h => h(App),
  mounted() {
    // You'll need this for renderAfterDocumentEvent.
    setTimeout(() => {
      document.dispatchEvent(new Event('render-event'));
    }, 5000);
  },
});

[2021-04-28 02:39] zenghj commented on #437
I got the same isuue

[2021-04-28 02:46] zenghj commented on #437
There is alreay a merge request to solve this issue [here](https://github.com/chrisvfritz/prerender-spa-plugin/pull/427/commits/dbd955809075f2170790a27de60bd615b76e0ee5)

[2021-05-17 17:32] Kyriakos-Michael opened #446 "Prerender-spa-plugin with Vite"
Does Prerender-spa-plugin have support for Vite? Is there an Example for it?

I was able to implement the Webpack Version but using Vite, I could not make it to work.

Any help here?

[2021-05-20 11:32] #446 closed

[2021-05-28 08:26] dmitryuk commented on #437
github:RoboFinance/prerender-spa-plugin#4.0.0

[2021-05-30 10:35] MuYunyun commented on #242
I try the ways above, but no one do effect. Finally I solve with [mr](https://github.com/create-react-doc/prerender-spa-plugin/commit/5f5c229bd8224183f43f47a3c025bd1e6cd3ebac)。

[code]

[2021-06-05 12:08] Trinovantes commented on #433
The white flash is due to Vue replacing your page's markup with its own markup.

To get Vue 3 to hydrate instead of replacing the markup, you need to use `createSSRApp` instead of `createApp`. However, since the markup generated by `createApp(App).mount('#app')` is different than `renderToString(createSSRApp(App))`, it is **not** possible to hydrate prerendered markup anymore.

I've tried filing a

[2021-06-05 16:24] maartenelgar commented on #364
Hey I have the same issue. Did anyone fix this?

[2021-06-06 04:13] luka-bacic opened #452 "Plugin doesn't copy assets"
Hi,

I am using prerender-spa-plugin 3.4.0 with Vue 3.0.11.

I'm running Ubuntu 18.04.5 LTS in WSL2

My plugin config options in vue.config.js are as follows:

`
const path = require('path');
const PrerenderSPAPlugin = require('prerender-spa-plugin');
const Renderer = PrerenderSPAPlugin.PuppeteerRenderer;

module.exports = {
  // ...
  configureWebpack: {
    plugins: [
      new PrerenderSPAPlugi

[2021-06-06 12:01] maartenelgar opened #453 "Plugin creates broken HTML"
When I use the plugin my index.html file in dist, my file has a copy mistake. I am unsure whats causing it and I have tried changing alot of the parameters for the plugin aswell as adding .replace(`id="app"`, `id="app" data-server-rendered="true"`); to the post process and trying to add id="app" to the App.vue file as advised on some stackoverflow threads.

Any ideas what could be driving this?

`

[2021-06-07 10:13] Haiwar commented on #433
Thanks, i have solved it

[2021-06-08 14:29] maartenelgar commented on #453
The issue was caused by hydration failures which I learnt were misuses of html components. When i went through my code and resolved those misuses it resolved the the prerendering issue.

For anyone who is ends up with a similar issue you can read more here:
[Yesterday 21:49] Maarten Elgar
    Ok at some point next week or further down the line, we will have a group chat about hydration errors. In

[2021-06-11 02:23] NobUwU opened #454 "Puppeteer Issues on Oracle Linux 8"
Hiya, I am sorta new to linux so this may be a very dumb question but I am unable to build on Oracle Linux 8.

My config is simply:
[code]
and I am getting this error

[code]

What I Have Tried

- Going to https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md and doing the fix for centos as Oracle Linux is apparently based on it.
Whenever I do so I get this error
[code]

[2021-06-14 16:54] Givemeurcookies opened #456 "Optimization of Puppeteer"
Hey!
I've previously used Puppeteer for web scraping and I am looking into pre-rendering a few thousand pages in a project. I see this isn't recommended in the README.md due to RAM usage however I don't believe Puppeteer used much RAM even when scraping 50+ pages every second.

I've tried to wrap my head around this project, but puppeteer is imported and controlled from this file in another repo,

[2021-06-14 19:19] ann8355 commented on #31
@drewlustro @chrisvfritz
i got the same problem, when i use @click event , it's not working in production
then, i also use boostrap-vue slidebar , when i build finished in production, the slidebar toggle didn't work.
please help me..... i spent a lot of time, but don't find how to fix it.

[2021-06-15 04:37] ann8355 commented on #231
how did you fix? i got the same problem

[2021-06-24 09:02] 3344567 commented on #344
result error
router.js
[code]
config.js
[code]
result
dist/vue/employment-empowerment/index.html file not have prerender code

try config.js
[code]
result
dist/vue/vue/employment-empowerment/index.html file not have prerender code,and directory level error

[2021-06-25 02:14] huanhunx opened #460 "I have a Vue multi-page app, after prerender, all html files look the same."
First of all, is this plugin support multi-page app?

My project is some subpages of our main website. so this project has no index route.
But the plugin runs error with notice: can not find /path/to/project/index.html.
So i add an empty entry for index route (every page's entry file provide a variable for this pages content).
Entries looks like this: (in index page, the value of content and title

[2021-07-02 15:46] Lobosque opened #461 "render each route to an html file"
Is it possible to render each route in a separate html file?

[2021-07-06 11:21] bacharacherif commented on #461
1.html
![Uploading achievement-5597527_1920.png…]()

[2021-07-14 15:06] imjonos commented on #330
Same issue

[2021-07-20 06:09] huanhunx commented on #460
I have solved it. I have to push multi PrerenderSPAPlugins to plugin property.
Example
vue.config.js:
![image](https://user-images.githubusercontent.com/19836250/126270002-22d6368b-97f5-4267-9718-81c528258786.png)
![image](https://user-images.githubusercontent.com/19836250/126270110-a0d21066-8183-4715-bb02-ef82da3bdea1.png)

[2021-07-20 09:00] gijsdb opened #462 "Only two pages are getting pre-rendered properly"
Hello,

I am trying to pre-render my Vue application using the following vue.config.js:

[code]
It creates the correct dist folder with each page as it's own folder with an index.html. When I run it on http-server to test it, it all works properly but when checking the source code only the grants page and page-not-found page have actual HTML content. The other pages all have just the header tag wi

[2021-07-20 18:01] lbreza commented on #414
Getting the same problem after update to the webpack 5. \
Would like to see that fixed.

[2021-07-20 18:26] AlexisVK commented on #414
Same problem. All forks doesn't  have correct documentation but at the same time this repo is dead. Does anybody knows is there is a working alternative for webpack 5?

[2021-07-28 03:43] gui-killer opened #463 "How to cache the result."
Is there a way to cache the result of prerender-spa-plugin if the relevant component of the routes is not changed, should skip the corresponding compilation process to save time.
I use history API router to route components in both dev and prod environments, and enabled prerender-spa-plugin for them.
It really takes a lot of time to prerender about 10 routes of components.

[2021-08-06 05:48] qinrongjun opened #464 "docker"

[2021-08-13 01:58] c-chengp1 opened #468 "on Safari and ios it doesn't always work"
When I use the plugin to prerender the page of my vue project mobile app, I found that it runs normally on Android and Chrome browsers, but this pre-rendered page occasionally appears on Safari and iPhone. I have done a lot of attempts and explorations. But I still can't find out the problem. Now I put all the js at the bottom of the body, and added the following code at the end, the pre-rendered

[2021-08-25 08:34] yolo-jane commented on #433
hi ,Haiwar.  how do you solve it? i meet this problem too.

[2021-09-13 07:33] #462 closed

[2021-09-17 12:29] nangezi123 commented on #437
If no network，you must make sure that there is chromium (/node_modules/puppteer/.local-chromium)

Next, you can add `console.log('err', err)` in catch (/node_modules/prerender-spa-plugin/es6/index.js)，you will find details.
`// node_modules/prerender-spa-plugin/es6/index.js
...
.catch(err => {
        console.error(err) // Add this to find the error at line 144
        PrerendererInstance.destroy(

[2021-09-18 08:53] Zzdl opened #469 "[prerender-spa-plugin] Unable to prerender all routes!"
![image](https://user-images.githubusercontent.com/42561416/133882970-1f7fd9f3-d456-4cf7-a790-94cf1aa07ab1.png)

my object have set 17 routers，when i npm run build, that will throw above error；but when i delete a router，it`s work，could you help me how to work for it？thanks very much！！！

[2021-09-28 04:40] jsbugwang commented on #469
### 如果是 Webpack5
请使用 git@github.com:jsbugwang/prerender-spa-plugin.git 。已提交 pull request 。详情请见 [pr 470](https://github.com/chrisvfritz/prerender-spa-plugin/pull/470)

### 如果不是 Webpack5

请自行增加调试代码，即可找到问题

[code]

[2021-10-01 19:29] pieroliviermarquis opened #471 "How to configure puppeteer inside prerender-spa for Heroku"
This page explains how to use puppeteer on Heroku. (https://elements.heroku.com/buildpacks/jontewks/puppeteer-heroku-buildpack).

It says to include { args: ['--no-sandbox'] } in the launch() call of puppeteer.

Since puppeteer is launched by prerender-spa, how can I pass these configs?

[2021-10-01 20:03] pieroliviermarquis opened #472 "How to launch puppeteer with { args: ['--no-sandbox'] }?"

[2021-10-01 20:54] #472 closed

[2021-10-02 16:52] pieroliviermarquis opened #473 ""/" page flashing before routes load"
The default home page is flashing for a few milliseconds before the target routes load.

I am using Vue 2 with Router.

Not only is it not pleasing, but the crawlers also just read the content of the "/" page before the target routes load, making it useless for SEO.

module.exports = {
  chainWebpack: config => {
    config.module.rules.delete("eslint");
  },
  configureWebpack: {
      plugins: p

[2021-10-02 18:26] pieroliviermarquis commented on #473
I found out that this was caused by one specific view that contained this.$router.push({path: "/"}); on mounted if the user wasn't in the backend session. Somehow this affects all views. It is now working without prerendering this route.

[2021-10-02 18:26] #473 closed

[2021-10-16 05:40] Haiwar commented on #433
[code]

[2021-10-16 05:46] Haiwar commented on #433
nginx：

[code]

[2021-10-30 10:09] mayack commented on #351
same

[2021-11-01 02:01] gexin1 commented on #426
I upgraded puppeteer to the latest
It looks good
i release a package [prerender-spa-plugin-fix](https://www.npmjs.com/package/prerender-spa-plugin-fix)

[2021-11-03 06:29] zqcccc commented on #469
https://webpack.js.org/blog/2020-10-10-webpack-5-release/#filesystems

[2021-11-04 01:32] william-keller commented on #242
Worked for me too

[2021-11-05 15:22] atomheartother commented on #343
For people from the future who like me stumbled on this thread, read the full SO post, there are most flags needed nowadays:
`-disable-features=IsolateOrigins', ' --disable-site-isolation-trial`

[2021-11-06 12:08] tumoxep commented on #348
Stumbled on this problem. Set renderer options to `renderAfterTime` and it worked. Before that tried through `renderAfterDocumentEvent`. Generated file doesn't use injected `window` property. Seems like `window['__PRERENDER_INJECTED']` is not a default place for `inject`'s. But setting `injectProperty` also doesn't work. Will keep looking

[2021-11-08 14:51] loeffel-io commented on #102
So your scripts are then only available on prerendered pages?

[2021-11-09 20:37] vincentlortie commented on #242
Posting this if someone comes across a similar issue without too many leads. My Vue frontend app was making requests to our API which has a different domain. The script was failing silently and it took me a while to figure out that was the issue.

I had to setup a proxy per the [following section](https://github.com/chrisvfritz/prerender-spa-plugin#server-options). Here is what my config looked li

[2021-11-13 13:54] loeffel-io commented on #102
Just solved it by using the inject

[code]

[code]

[2021-11-25 10:27] ThaDaVos opened #476 "Compilation of source code is wrong"
I cannot find it, but at which point during the compilation does this plugin hookin?

My project is a Vue 3 Typescript project and for some reason I am getting an error like so:
![image](https://user-images.githubusercontent.com/5251028/143424365-c98d0c17-c573-495a-b6dd-a9deb6d94675.png)

Any idea why? The generated DIST seems to be the same as without the plugin

[2021-11-25 10:28] ThaDaVos commented on #476
I did not include the HTMLWebpackPlugin as I was hoping this isn't necessary as I just followed the: https://github.com/chrisvfritz/prerender-spa-plugin#basic-usage-webpackconfigjs

[2021-11-25 10:32] ThaDaVos commented on #476
If more information is needed - please ask - it's business code so I cannot directly share it

[2021-11-27 14:51] SanChes-tanker commented on #423
Same issue, have any idea how to fix it? it happens not all the time but time to time

[2021-12-04 20:57] musakanneh commented on #454
npm install puppeteer  - this should work!

[2021-12-07 16:11] kisekiremi commented on #469
just check the method below

1. npm un prerender-spa-plugin
2. npm i prerender-spa-plugin-next -D

XD

[2021-12-07 16:30] paulinechi commented on #320
Hey have you found the solution? I'm getting the same problem

[2021-12-14 15:17] JoshTheDerf opened #477 "Looking for maintainers!"
As support for server-side rendering has matured, I've had little reason to revisit pre-rendering in any of my projects. As a result, I've had no need of this library for my own purposes and have let it fall by the wayside.

At this point, I'd be happy to transfer ownership of the project to someone who still has active use for pre-rendering and would be willing to bring this repo up back up to da

[2021-12-14 15:22] #242 closed

[2021-12-24 01:45] ev-shamko opened #478 "Error during building example app: probably smth with websocket errno: -4039, code: 'ETIMEDOUT'"
Hi! I'm trying to prerender the CRA-example from this repository: examples/create-react-app/
But during build process i get this mistake.

And i get the same mistake while prerendering apps using react-snap and react-snapshot solutions.
So the problem must be on my side. Any suggestions how to fix this?

Here's the log:

`Creating an optimized production build...
ErrorEvent {
  target: WebSocket {

[2021-12-29 14:37] hello-astar commented on #425
how did you solved the problem?

[2021-12-29 15:13] hello-astar commented on #215
厉害厉害

[2021-12-30 03:07] YangLG-7 commented on #425
sorry；I used SSR  😜

[2021-12-30 03:08] YangLG-7 commented on #425
I have used SSR；bro ;

[2021-12-30 04:59] hello-astar commented on #425
I had found a way to deal with the problem;haha

[2022-01-04 01:47] owlyowl commented on #348
I'm having the same issue when using `optimization` and `splitChunks` in webpack with cache groups. It never seems to fire the document event.
I remove `cacheGroups` and it works as expected.

[2022-01-04 05:29] Rupert-com commented on #222
## I am using a React App with the puppeteer renderer

Got the same Issue.
`[prerender-spa-plugin] Unable to prerender all routes!`

Then I looked up where the issue is thrown:

[code]
In the debugger, I caught the Error.

**error:**
[code]
**stack:**
[code]

Then I dissabeld the headless mode:
[code]

**It turns out, that I changed the `PUBLIC_URL` property of react. So locally a server is hosted

[2022-01-04 19:03] Gregory-Ledray commented on #31
@robsterlini that was my problem! This fixed it for me:
[code]

[2022-01-05 10:11] owlyowl opened #479 "Vue Prerender-SPA / Webpack - Application won't initialise with named cacheGroups unless explicitly listed in pages config chunks section?"
I've been beating my head against the webpack/vue-cli wall for the last few days so thought I'd reach out.

I have a pages config setup like so:
[code]

I've chunked out some named `cacheGroups` so I can group some modules which were commonly being duplicated across chunks:
[code]

I'm trying to run a few routes up in puppeteer using the `PrerenderSPAPlugin`. It works flawlessly if I omit the `opt

[2022-01-09 17:53] fouronnes commented on #477
Thank you for a great plugin!
I hope you find a good maintainer to step up. Server-side rendering and build-time prerendering are two different technologies, and I hope this project can live on! 👍

[2022-01-23 02:30] cstavaru commented on #477
I think prerendering is still the most important of the two. Server-side rendering is just a stopgap dictated by Google's technology limitations. Prerendering is the correct solution until Google's crawlers (and its developers) will become smart enough. There is simply no reason for server-side rendering of front-end applications because there is fundamentally a lot of duplication and processing p

[2022-01-23 02:48] JoshTheDerf commented on #477
In my experience, you can usually use server side rendering*to* prerender,
making prerendering mostly irrelevant. Except that it can work without
being particularly framework-dependent. :/

On Sat, Jan 22, 2022, 9:31 PM cstavaru ***@***.***> wrote:

[2022-01-26 14:07] squareloop1 commented on #477
making prerendering mostly irrelevant. Except that it can work without
being particularly framework-dependent. :/

Sadly I can't share this experience (besides SSR being framework dependent 😅). Prerendering and SSR are two completely different things. SSR is server rendering on the fly and hydrating on the client while prerendering is creating static html files.

Most SSR frameworks don't let you

[2022-01-28 15:54] fouronnes commented on #477
Hey @JoshTheDerf, I'm interested in serving as maintainer for a while. I was hoping someone more experienced would volunteer, but since no one has I want to give it a try. I'm just a volunteer with limited free time, but I'm using prerender-spa-plugin in production, and I'm happy to try to take the repo into a better state. I don't have much experience for this, but my goals are simple:

* Clean u

[2022-01-28 16:03] JoshTheDerf commented on #477
Awesome, glad to hear it! I'll add you to the prerenderer project. I'll need to contact @chrisvfritz to see if he can add you as a maintainer here, as I don't have full access to the repository settings. Will also need to give you access to NPM.

[2022-01-31 23:08] witoldpilecki88 commented on #385
Are there no workarounds?

[2022-02-09 06:48] fouronnes commented on #477
@JoshTheDerf @chrisvfritz any update on this?

[2022-02-10 21:11] mikob commented on #414
I had the inverse issue where prerender-spa-plugin-next worked (albeit I had to modify the config a bit to fit a slight change config structure) while the @dreysolano plugin gave me the same error about prerending all routes.

[2022-02-11 03:29] Crushlife1314 opened #484 "why no such file or directory"
building for production...Error: ENOENT: no such file or directory, stat 'E:\app\build\dist\index.html'

[2022-02-18 20:46] mikob commented on #477
Note for the next maintainer:
This fork worked for me: https://github.com/RoboFinance/prerender-spa-plugin

[2022-03-04 13:28] Tofandel commented on #477
I'd be happy to, I actually already maintain my own fork which is webpack 5 compatible https://github.com/Tofandel/prerender-spa-plugin

[2022-04-02 00:35] todaynogada opened #501 "Unable to prerender all routes!"
Unable to prerender all routes!
help
![qgegeqgegqqeg](https://user-images.githubusercontent.com/35400023/161357047-4cb6885e-3930-457f-841b-c4479120c438.PNG)

        plugins: [
            new PrerenderSPAPlugin({
                staticDir: __dirname, // The path to the folder where index.html is.
                outputDir: path.join(__dirname, 'prerendered'),
                indexPath: path.join(

[2022-04-02 21:18] Tofandel commented on #414
For anybody here, you can use https://github.com/Tofandel/prerender-spa-plugin-next until I take on maintenance here

It's a major release so there is some differences because it had to be rewritten to be in line with the webpack 5 api, there is notably no more outputDir and no more compression, because all the files are emitted as assets of the build, you should now just use https://webpack.js.or

[2022-04-02 21:19] Tofandel commented on #501
Duplicate of https://github.com/chrisvfritz/prerender-spa-plugin/issues/414, it's not compatible with webpack 5

[2022-04-02 21:19] Tofandel commented on #469
Duplicate of https://github.com/chrisvfritz/prerender-spa-plugin/issues/414, not compatible with webpack 5

[2022-04-02 21:20] Tofandel commented on #437
Duplicate of https://github.com/chrisvfritz/prerender-spa-plugin/issues/414, not compatible with webpack 5

[2022-04-02 21:26] #429 closed

[2022-04-02 21:27] Tofandel commented on #432
Duplicate of #414, it is not compatible with webpack 5

[2022-04-02 22:05] todaynogada commented on #501
tahnk you

[2022-04-07 12:57] LaisGalvao commented on #477
I'm interested to becoming a voluntary maintainer too!

[2022-04-14 02:06] mikob commented on #477
The one I mentioned here disappeared, but I've found other forks that work. @Tofandel I'm still having issues with yours. It's not rendering the .html pages for vue routes in vue 3. It only renders one index.html and the relevant css, and js.

[2022-04-14 05:01] Tofandel commented on #477
@mikob Can you open an issue on the fork with some info about your setup (vue cli config and main.js)? I'm myself using it in projects with `@vue/cli` and they all work correctly

[2022-04-18 04:07] trdbau commented on #412
@valentinoli can you show me way to make a dynamic route for item in marketplace?

[2022-04-18 15:18] ViacheslavZyrianov commented on #320
Still same problems here

[2022-05-15 09:06] KutnerUri commented on #320
also getting it. maybe because `@prerenderer/renderer-puppeteer` is using `puppeteer` 1.20.0? latest is 14.1.0 😵

[2022-05-15 09:14] KutnerUri commented on #320
yup - this is the bug:
https://github.com/puppeteer/puppeteer/issues/4197
it was fixed in April 2019 - https://github.com/puppeteer/puppeteer/pull/4276

[2022-05-18 04:57] zhoudc1995 opened #505 "Page refresh twice"
Page refresh twice style ？？ 预渲染时 页面刷新了两次

[2022-07-23 02:28] longc447 commented on #347
hello，Have you solved this problem？

[2022-07-27 08:24] prlcloud commented on #426
I also encountered the same problem, but the deployment failed after updating the package. How did the great God solve it

I also encountered the same problem, but the deployment failed after updating the package. How did the great God solve it

[2022-07-27 08:44] gexin1 commented on #426
You can try
[code]
If this can't solve your problem, I don't know how to solve it

[2022-10-16 10:34] ziagit commented on #477
Is this package working with Vue installed in Laravel? my Vue app is not created by Vue/cli, if It is possible please share the steps how to do that.
thanks.